extends layout

block content
	.container
		img(src="/images/snapengage-logo.png" class="heading")
		h1.header.title My Dashboard

		ul.nav.nav-tabs
			li.tab.active
				a(href='/#')#home
					i.fa.fa-home
					|  Home
			li.tab
				a(href='/#')#loadChats
					i.fa.fa-comment
					|  Chat Transcripts
			li.tab
				a(href='/#')#loadMessages
					i.fa.fa-envelope-o
					|  Open Messages

			li.tab
				a(href='/#')#loadAgents
					i.fa.fa-user
					|  Agents
		
		.row.openTab
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				div#welcome
					h3.centerText.innerTab Welcome to your dashboard!
				div#body
				div#myModal.modal.fade.in(tabindex="-1" role="dialog")
					div.modal-body.center
						h3 Agent Stats
						div#picture
						h4#title
						h5#numberOfChats
						h5#avgWaittime
						h5#avgChatduration
						h5#avgChatscore
						h5#chatComments
