extends layout

block content
	.container
		h1 My Snapengage Dashboard

		ul.nav.nav-tabs
			li.tab.active
				a(href='#')#loadChats Chat Transcripts
			li.tab
				a(href='#')#loadMessages Open Messages
			li.tab
				a(href='#')#loadAgents Agents
			li.tab
				a(href='#')#loadURLs Referral URLs

		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				ul#body


		