extends layout

block content
	.container
		h1 My Snapengage Dashboard

		ul.nav.nav-tabs
			li.active
				a(href='#')#loadChats Chats
			li
				a(href='#')#loadMessages OpenMessages
			li
				a(href='#')#loadAgents Agents
			li
				a(href='#')#loadURLs Referral URLs

		.row
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				ul#allChats
				ul#allMessages
				ul#allAgents
				ul#allWebpages



		