extends layout

block content
	.container
		h1 My Snapengage Dashboard

		ul.nav.nav-tabs
			li.tab.active
				a(href='/#')#home Home
			li.tab
				a(href='/#')#loadChats Chat Transcripts
			li.tab
				a(href='/#')#loadMessages Open Messages
			li.tab
				a(href='/#')#loadAgents Agents
			li.tab
				a(href='/#')#loadAllData All Data
		
		.row.openTab
			.col-lg-12.col-md-12.col-sm-12.col-xs-12
				div#welcome
					h3.centerText.innerTab Welcome to your dashboard!
				div#body
				div#table
					div(ng-app="myApp" class="container")
						input(type="text" placeholder="Search Users" ng-model="search.$")
						table(ng-controller="TableCtrl")
							thead
								tr
									th(id="name") Name
									th(id="name") Gender
									th(id="name") Age
									th(id="name") Email
									th(id="name") Phone
									th(id="name") Location
							//- tbody(id="tbody")
				div#myModal.modal.fade.in(tabindex="-1" role="dialog")
					div.modal-body.center
						h3 Agent Stats
						div#picture
						h4#title
						h5#numberOfChats
						h5#avgWaittime
						h5#avgChatduration
						h5#avgChatscore
						h5#chatComments
