extends layout

block content
	.container
		h1 My Snapengage Dashboard

		ul.nav.nav-tabs
			li.active
				a(href='#')#loadChats Chats
			li
				a(href='#')#loadMessages Open Messages
			li
				a(href='#')#loadAgents Agents
			li
				a(href='#')#loadURLs Referral URLs

		ul#allChats
		ul#allMessages
		ul#allAgents
		ul#allWebpages



		