doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Snapengage!
		//- Bootstrap CSS
		link(rel="stylesheet", href="/scripts/bootstrap.css")
		//- Font Awesome
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
		link(rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css")
		//- My CSS file
		link(rel="stylesheet", href="/scripts/main.css")

	body
		block content
		
		//- jQuery
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		//- jQuery UI (for animations)
		script(src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js")
		//- Underscore
		script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
		//- Angular
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
		//- Bootstrap JS
		script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js")
		//- My jQuery file
		script(src='/scripts/main.js')