li {
	list-style-type: none;
}


/* Helper Classes */
.right {
	text-align: right;
	float: right;
}

.center {
	text-align: center;
	margin: 0 auto;
}

/* Stylin' */

.green {
	color: green;
	font-weight: 800;
}

.blue {
	color: blue;
	font-weight: 800;
}

.carat {
	margin: 0 20px 0 0;
	color: #193140;
}

.openCarat {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.closeCarat {
	-ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

.heading {
	font-weight: 800;
	color: #fff;
}

#body {
	margin: 20px 0 20px 0;
}

.chat {
	background-color: rgba(69,136,178,.4);
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}

.innerTab {
	margin: 10px 0 0 28px;
}

.message {
	background-color: green;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}

/*.agentBlock {
	margin: 20px 10px;
	
}*/