/* Root Styles */

li {
	list-style-type: none;
}

body {
	background: #B4CFE0;
	font-family: 'Roboto', sans-serif;
	color: #1A5177;
}

h1 {
	margin: 30px 0;
}

h5 {
	color: #717F89;
	line-height: 1.3;
}

/* Helper Classes */

.right {
	text-align: right;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.centerText {
	text-align: center;
}

.margin-top { 
	margin-top: 20px;
}

.bold {
	font-weight: 800;
}

/* Overall Styles */

.link {
	color: #2D5B9E;
}

.header {
	margin: 40px 10px;
	display: inline-block;
}

.title {
	margin-left: 30px;
	font-weight: 600;
	color: #1A5177;
	font-size: 2.1em;
}

/* Tab Styles */

.openTab {
	background-color: #86B1CC;
	border: 2px solid #fff;
	border-radius: 4px;
}

.innerTab {
	margin-left: 27px;
}

.innerTab > p , .innerTab > form {
	margin: 10px 0 0 43px;
}

.orange {
	color: #FFAA38;
	font-weight: 500;
}

.blue {
	color: #201C94;
	font-weight: 500;
}

.carat {
	margin: 0 20px 0 0;
	color: #fff;
}

.openCarat {
	-ms-transform: rotate(180deg); /* IE 9 */
	-moz-transform: rotate(180deg); /* FF */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

.closeCarat {
	-ms-transform: rotate(360deg); /* IE 9 */
	-moz-transform: rotate(180deg); /* FF */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}

.heading {
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	color: #fff;
}

#body {
	margin: 20px 0 20px 0;
}

.chat {
	background-color: #5E97BC;
	color: #19374C;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}

.message {
	background-color: #203B4E;
	color: #4588B2;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
}

.transcript {
	font-size: 1.2em;
	padding: 10px 0 10px 20px;
	margin-top: 10px;
}

.details {
	font-size: .9em;
	margin-top: 20px;
}

/* Agent Styles */

.agentBlock {
	padding: 20px 10px;
	font-weight: 500;
}

.img-circle {
	border: 5px solid #5E97BC;
}

/* Modal Styling */

#myModal h4 {
	color: #2082CC;
}

.aqua {
	color: #2082CC;
}

.modal {
	width: 100%;
	height: 100%;
}

.modal-body {
	background: #fff;
	margin: 5% auto;
	width: 400px;
	border-radius: 10px;
	padding: 20px;
}
